.sidenav-accounts{
    display: flex;
}
.sidenav-accounts .container1{
    width: 100%;
    padding: 5px;
}
.sidenav-accounts .container1 > h1{
    margin: 33px 0 52px 21px;
    font-size: 25px;
}
.sidenav-accounts .title{
    display: flex;
    align-items: center;
    margin: 33px 0 52px 10px;
}
.title.flex-col{    /* verify user page */
    flex-direction: column;
    align-items: unset;
}
.title h1{
    margin: 0 0 0 18px;
    font-size: 25px;
}
.title p{
    font-size: 15px;
    margin: 14px 0 0 40px;
}
.title span{    /* verify user page */
    display: flex;
}
.sidenav-accounts h2{
    margin: 0 0 0 21px;
    font-size: 20px;
}
.form-temp.form-verify-user{
    width: 512px;
}
.sidenav-accounts table td{
    padding: 5px 0;
}
.sidenav-accounts .records-table{
    margin-bottom: 20px;
}
.sidenav-accounts table.web .btn-acc-edit{
    margin-right: 18px;
}
.sidenav-accounts .buttons{
    width: fit-content;
    margin-left: auto;
}
.btn-add-user{
    width: 100%;
    background-color: #F3A452;
}


@media screen and (max-width: 678px){
    .sidenav-accounts .container1 > h1 {
        margin: 46px 0 0 21px;
        font-size: 20px;
    }
    .btn-add-user{
        width: 177px;
        margin: auto;
    }
}