.sidenav-calendar{
    display: flex;
}
.sidenav-calendar h1{
    font-size: 25px;
}
.sidenav-calendar .container1{
    width: 100%;
    padding: 5px 15px;
}
.sidenav-calendar .container1 > h1{
    margin: 33px 0 52px 21px;
}
.sidenav-calendar .title{
    display: flex;
    align-items: center;
    margin: 1rem;
}
.add-sched .title{
    margin-bottom: 40px;
}
.title h1{
    margin: 0 0 0 18px;
    font-size: 25px;
}
.title p{
    font-size: 15px;
    margin: 14px 0 0 40px;
}
.calendar-buttons{
    display: flex;
    width: fit-content;
    margin: 20% auto 0 auto;
}
.calendar-buttons > button{
    width: 302px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #F3A452;
    border-radius: 7px;
    font-size: 19px;
    color: #F3A452;
}.calendar-buttons > button:first-of-type{
    margin-right: 23px;
}.calendar-buttons > button:hover{
    background-color: #F3A452;
    color: white;
}

/* CALENDAR page*/
.cal-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
/* calendar controls */
.cal-controls{
    display: flex;
    align-items: center;
}
.cal-controls > span{
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F5;
    margin-left: 1px;
}
.cal-controls > span:nth-of-type(1){
    width: 28px;
    border-radius: 6px 0px 0px 6px;
}
.cal-controls > span:nth-of-type(2){
    font-size: 12px;
    padding: 0 16px;
}
.cal-controls > span:nth-of-type(3){
    width: 28px;
    border-radius: 0px 6px 6px 0px;
}
/* filter */
.record-filter{
    margin-left: 17px;
}
.record-filter h4{
    font-weight: 700;
}
.searchbar-wrapper{
    height: 28px;
}input[type="search"]{
    height: 25px;
}
.cal-header .select-wrapper.no-bg{
    background-color: white;
}
/* button */
.cal-header button{
    height: 39px;
    width: 177px;
    text-align: center;
    align-self: flex-end;
    margin-left: auto;
}

/* FORM */
.form-sched{
    display: flex;
    width: 100%;
}
.form-temp{
    flex-basis: 70%;
    margin: 0;
}
.form-row > div{
    width: 274px;
}

/* LIST */
    /* tabs */
.view-user-nav, .view-user-nav > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 49px;
    background: #F3A452;
}
.view-user-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    cursor: pointer;
}.view-user-nav a.active {
    background-color: white;
    color: #F3A452;
}
.tabcontent{
    display: none;
}
/* Attendees List */
    /* QR */
.qrCode-cont {
    width: 100%;
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 97px;
    margin: 11px 0;
    background-color: #F4F4F5;
}
.qrCode-cont h2{
    font-size: 20px;
}
.qrCode-cont .buttons {
    display: flex;
} 
.buttons > *{
    width: 177px !important;
    height: 39px;
    margin-right: 23px;
}
    /* table */
.bookings-table {
    height: fit-content;
}
table tbody .new::after {
    right: 47%;
}
/* Schedule Info */
.sched-info{
    display: flex;
    flex-flow: row wrap;
    gap: 40px 1rem;   
    width: 100%;
    padding: 1rem 30px;
    margin: 25px auto 0 auto;
    border: 1px solid #F2F2F2;
    border-radius: 7px;
}
.sched-info > div{
    width: 23%;
}
.sched-info h2{
    margin: 0 0 10px 0;
    font-size: 1rem;
    font-weight: 700;
}.sched-info > div:last-of-type h2{
    margin-bottom: 4px;
}
.sched-info p{
    font-size: .875rem;
}
.sched-info .select-wrapper{
    height: 26px;
}.sched-info .select-wrapper.no-bg{
    background-color: white;
}.no-bg select:focus-visible {
    outline: none;
}
.sched-details select {
    width: fit-content;
    padding: 0 30px 0 5px;
}



@media screen and (max-width: 678px){
    .sidenav-calendar .container1{
        height: 100vh;
    }
    .sidenav-calendar .container1 > h1 {
        margin: 29px 0 0 21px;
        font-size: 20px;
    }
    .calendar-buttons{
        flex-direction: column;
        margin: inherit auto 0 auto;
    }.calendar-buttons > button:first-of-type{
        margin: 0 0 39px 0 ;
    }
}