.sidenav-notifications{
    display: flex;
}
.sidenav-notifications .container1{
    width: 100%;
    height: fit-content;
    padding: 5px;
}
.sidenav-notifications .container1 > h1{
    margin: 33px 0 52px 21px;
}
.sidenav-notifications .title{
    display: flex;
    align-items: center;
    margin: 33px 0 52px 10px;
}
.sidenav-notifications h1{
    margin: 0 0 0 18px;
    font-size: 25px;
}

.notifications-cont {
    margin-bottom: 1rem;
}
.notifications-cont > div {
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}.notifications-cont > div:nth-of-type(odd) {
    background-color: #F5F5F5;
}
.notifications-cont > div * {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
}
.notifications-cont > div p {
    margin-right: 48px;
}.notifications-cont > div p:last-of-type {
    font-weight: 400;
}
.txt-orange { color: #F3A452;}

@media screen and (max-width: 678px) {
    .notifications-cont > div {
        flex-flow: row wrap;
    }
    .notifications-cont > div p{
        margin: 0;
        flex-basis: 50%;
    }
    .notifications-cont > div p:last-of-type {
        margin: 15px 0 0 0;
        flex-basis: 100%;
    }
}