/* scrollbar stylings 
::-webkit-scrollbar { width: 8px;  }
::-webkit-scrollbar-track {
    background: #D9D9D9;        
    border-radius: 0 7px 7px 0;
  }
::-webkit-scrollbar-thumb {
    background-color: #E9E9E9;  
    border-radius: 20px;      
    border: 2px solid #D9D9D9; 
  }*/
.sidenav-records{
    display: flex;
}
.sidenav-records .container1{
    width: 100%;
    height: fit-content;
    padding: 5px;
}
.sidenav-records .container1 > h1{
    margin: 33px 0 52px 21px;
}
.sidenav-records .title{
    display: flex;
    align-items: center;
    margin: 33px 0 52px 10px;
}
.title h1{
    margin: 0 0 0 18px;
    font-size: 25px;
}
.sidenav-records h2{
    margin: 0 0 0 21px;
    font-size: 20px;
}
/* FOLDERS */
.folders-cont{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 50px;
    padding: 0 0 0 15px;
}
.folders-cont .folder-item{
    position: relative;
    height: 97px;
    width: 349px;
    border: 1px solid #B9B9B9;
    border-radius: 12px;
    margin: 13px 7px 0 0;
}
.folder-item h3{
    font-size: 16px;
    margin-bottom: 10px;
}
.folder-item p{
    font-size: 13px;
}
.folder-item a{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 21px 0 0 19px;
    color: black;
}
.add-folder{
    position: relative;
    width: 104px;
    height: 97px;
    border: 1px dashed #B9B9B9;
    border-radius: 12px;
    margin: 13px 7px 0 0;
}
.add-folder a{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    color: black;
}
.add-folder svg{
    margin: auto;
}


/* VIEW USER INFO PAGES */
.view-userRecords .container1{
    padding: 0;
}
.view-userRecords .title{
    height: 59px;
    margin: 0;
    padding: 0 34px 0 7px;
    border-bottom: 1px solid #D9D9D9;
}
.view-userRecords .title h1{
    font-size: 20px;
}
.sidenav-records .title-btns{
    justify-content: space-between;
}
.title-btns .user{
    display: flex;
}
.bookings-activities-files{
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    padding-bottom: 16px;
}
/* Bookings page */
.no-padd{
    padding: 0;
}
.user-table-details{
    display: flex;
}
/* navbar */
.view-user-nav, .view-user-nav > div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 49px;
    background: #F3A452;
}
.view-user-nav{
    margin-bottom: 56px;
}
.view-user-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    color: white;
    cursor: pointer;
}
.view-user-nav a.active{
    background-color: white;
    color: #F3A452;
}
.bookings-activities-files .record-filter .select-wrapper {
    width: fit-content;
    background-color: #F6F6F6;
    background-image: url(../assets/select\ 2.svg);
    background-size: unset;
    background-position: right 10px center;
    border: none;
}
.bookings-activities-files select{
    width: fit-content;
    padding: 0 30px 0 0;
}
/* records table */
.bookings-activities-files .bookings-table,
.activities-cont,
.files-cont{
    width: 100%;
    margin-bottom: 0;
}
.bookings-table table{
    table-layout: fixed;
}
.view-userRecords .bookings-table thead th:nth-child(1) {
    width: 15%;
}
.view-userRecords .bookings-table thead th:nth-child(2) {
    width: 30%;
}
.view-userRecords .bookings-table thead th:nth-child(3) {
    width: 10%;
}
.view-userRecords .bookings-table thead th:nth-child(4) {
    width: 35%;
}
        /* search + filters */
.bookings-activities-files .search-download-cont{
    padding: 10px 30px;
}
.bookings-activities-files .search-sort-show{
    width: 100%;
    justify-content: space-between;
}
.bookings-activities-files .searchbar-wrapper{
    width: 296px;
}
.bookings-activities-files .bookings-table > h4{
    font-size: 14px;
    font-weight: 700;
}
        /* table */
.bookings-activities-files th,
.bookings-activities-files td{
    position: relative;
    text-align: center;
}
.bookings-activities-files table tr th:first-child, 
.bookings-activities-files table tr td:first-child{
    padding: 15px 0;
}
.bookings-activities-files .new::after{
    right: -12px;
}
/* user details */
.user-cont{
    flex-basis: 30%;
    padding-top: 45px;
    border: 1px solid #D9D9D9;
    text-align: center;
}
.user-cont .user-pic{
    height: 220px;
    width: 220px;
    margin: 0 auto 23px auto;
    object-fit: cover;
}
.user-details > div{
    padding: 14px 0;
    background: white;
}
.user-details > div:nth-last-of-type(even){
    background: #F5F5F5;
}
.user-details h3{
    font-size: 17px;
    margin-bottom: 11px;
}
.user-details h4{
    font-size: 14px;
}
/* User Activities + User Files */
.activities-cont > div,
.files-cont > div{
    display: flex;
    align-items: center   ;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.activities-cont > div:nth-of-type(odd),
.files-cont > div:nth-of-type(odd){
    background-color: #F5F5F5;
}
.activities-cont > div p{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    margin-right: 48px;
}
.activities-cont > div p:last-of-type{
    font-weight: 400;
    margin-right: 0;
}
.pagination-cont{
    background-color: white !important;
    justify-content: center !important;
}
/* User Files */
.files-cont div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.files-cont .text img{
    margin-right: 11px;
}
.files-cont .text a{
    font-size: 15px;
    text-decoration: unset;
}
.btn-view-file{
    width: 41px;
    background-color: #F3A452;
    border-radius: 4px;
    margin-right: 5px;
}.btn-view-file:hover{
    background-color: #95530E;
}

/* TABS */
.tabcontent{
    display: none;
}

@media screen and (max-width: 678px){
.sidenav-records .container1 > h1{
    display: none;
}
.sidenav-records .title{
    margin: 24px 0 45px 10px;
}
.title h1{
    font-size: 20px;
}
.sidenav-records h2 {
    margin: 46px 0 0 21px;
}
.sidenav-records .bookings-table{
    width: 100%;
    height: fit-content;
}
/* .bookings-activities-files .new::after{
    display: none !important;
} */
/* FOLDERS */
.folders-cont{
    padding: 0;
}
.folders-cont .folder-item {
    margin: 13px auto 0 auto;
}
.add-folder {
    margin: 13px auto 0 auto;
}


/* FORM PAGES: Add Record and Create Folder */
.form-download table tr td:first-child {
    padding: 0 0 0 10px;
}
.form-download table th,
.form-download table td{
    font-size: 6px;
    padding: 5px 0;
}

/* VIEW USER */
.user-table-details{
    flex-direction: column-reverse;
}
.user-cont{
    border: none;
}
.tabcontent{
    display: block !important;
}
.view-userRecords .title{
    height: fit-content;
    margin: 24px 0 0 0;
    padding: 0 10px 15px 23px;
    align-items: unset;
    flex-wrap: wrap;
}
.view-userRecords .title .user{
    margin: 10px 0;
}
.view-userRecords .title .buttons{
    margin-left: auto;
}
.view-userRecords .search-download-cont{
    display: none;
}
.bookings-activities-files .new::after {
    right: 6%;
}
.view-userRecords .table-pagination.mobile{
    margin-bottom: 27px;
}
.activities-cont > div{
    flex-flow: row wrap;
}
.activities-cont > div p{
    margin: 0;
    flex-basis: 50%;
}.activities-cont > div p:last-of-type{ 
    flex-basis: 100%; 
}
.files-cont div{
    flex-wrap: wrap;
}
.files-cont .buttons{ 
    margin: 15px 0 0 auto;
}
}